.main{
  background-image:url(https://wallpapercave.com/wp/wp2729921.gif);
  background-size: cover;
 
}

h1{
  color: #f0f8ff;
}

#button-random-color {
  display: flex;
  align-self:  center;
}

header{
  display: flex;
  text-align: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#pixel-board{
  display: flex;
  justify-content: center;
}